<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="han-init">
<%- partial('_partial/head') %>
<body>
<div class="Shell">
    <%- partial('_partial/sidebar') %>
    <div class="container">
        <div data-pager-shell>
            <%- body %>
            <%- partial('_partial/footer') %>
            <script>
                if (hinst) {
                    Han(document.querySelector('.data-pager-shell')).render();
                }
            </script>
        </div>
    </div>
</div>
<%- js('js/pager/dist/singlepager.js') %>
<%- js('//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js') %>
<script>
    var sp = new Pager('data-pager-shell');
    var hinst = Han.init();
</script>
</body>
</html>
