<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
  <% } %>
  <% if (theme.source_han_font) { %>
  <% } %>
  <%- /* 汉字标准格式 */ css('//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.css') %>
  <%- /* Highlight.js */ css('//cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css') %>
  <%- css('css/style') %>
</head>
